{% load static %}
<html >
<head>
	<title>Мой блог</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/">Главная</a></li>
				<li><a href="/respawn" class="active">Респавн Боссов</a></li>
				<li><a href="/member">Киски и сосиски</a></li>
				<li><a href="/admin">Секретная комнатка</a></li>
			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">

				<div class="projects">
					<div class="item">
							<form method="post">
								{% csrf_token %}
								{{ form.name }}
								{{ form.date }}
								{{ form.time }}
								<br>
								<div class="form-member">
									<div class="form-member-block">
										{{ form.party_members }}
									</div>
								</div>
								<br>
								<span>{{ error }}</span>
								<div class="farm_button_block">
									<br>
									<button class="farm_button" type="submit">Добавить запись</button>
								</div>
								<br>
							</form>
						<div class="cl"></div>
					</div>
				</div>
			</div>





			<div class="cl">&nbsp;</div>
		</div>


	</div>

	<div id="footer">
		<p class="copy right">Copyright &copy;  2023 </p>
	</div>
</div>
</body>
</html>
